.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.field {
  margin-bottom: 20px;
  justify-content: space-between;
}

.field label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.field input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.error-msg {
  margin-top: 5px;
  color: red;
  margin-bottom: 0;
  font-size: 14px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}